grad-bg(col1, col2)
  position relative
  transition .5s
  z-index 0
  &::before, &::after
    content ''
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    z-index -2
  &::before
    background col2
    z-index -1
    mask-image linear-gradient(to left, black, transparent);
  &::after
    background col1